body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}


/* Header */
.header {
    margin-top: 68px;
    text-align: center;
}

.title {
    font-size: 32px;
    color: #000;
}

.subtitle {
    font-size: 18px;
    margin-top: 28px;
    color: #333;
}


/* Content */
.content {
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .responsive-image {
        width: 300px;
        height: 300px;
    }
}

/* Media query for screens larger than 600px */
@media (min-width: 601px) {
    .responsive-image {
        width: 500px;
        height: 500px;
    }
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 20px;
}

.start-button {
    width: 280px;
    height: 84px;
    background-color: #000;
    color: #fff;
    font-size: 32px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Added background-color transition */
}

.start-button:hover,
.start-button:focus {
    background-color: #333; /* Change background color on hover and focus */
    transform: translate3d(0, 4px, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Add focus style to improve accessibility */
.start-button:focus {
    outline: none;
}

.description {
    font-size: 16px;
    margin-top: 50px;
}
